.site-footer {
  margin: 0px;
 
  }

.powered-by {
  text-alignment: center;
}

.tag-cloud a {
  color: #0099cc;
}

h1 {
  color: #3f51b5;
}

p {
  text-align:justify;
}

.article-style {
  text-align:justify;
}

ul {
  text-align:justify;
}

#publications ul {
  font-weight: 600;
}


